$num: 10; // this is how many table columns we have
$base-color: #f0af1e;

@while $num > 0 {
  $angle:  $num*2000/100;
  $this-color: adjust-hue($base-color, $angle);
  
  tr th:nth-of-type(#{$num}) {
    background: lighten($this-color, 10);
    border: 1px solid darken($this-color, 10);
    color: darken($this-color, 25);
  }
  
  tr td:nth-of-type(#{$num}) {
    border: 1px solid darken($this-color, 10);
  }
  $num: $num - 1;
}

body {
  font-family: 'Bungee', sans-serif;
  margin: 1rem;
}

th, td { padding: 1rem; }
